<% if @hunts == [] && @resorts == [] %>
  <h1> No reservations scheduled </h1>
<% end %>

<% if @hunts != [] %>
  <h2> Gudied hunts reservations </h2>
  <% @hunts.each do |cur| %>
    <strong> <%= cur.start.strftime("%B %d, %Y") %> </strong>
  <% end %>
<% end %>

<% if @resorts != [] %>
 <h2> Summer resort reservations </h2>
  <% @resorts.each do |cur| %>
    <strong> <%= cur.start.strftime("%B %d, %Y") %> </strong>
  <% end %>
<% end %>
