<!DOCTYPE html>
<html>
<body>

<h> <b> RESULTS </b> </h>

<br>


<% @results.each do |cur| %>
   Step <%= @count %>:
   <%= cur %>
   <br>
   <% @count = @count + 1 %>
   <% end %>

<p> <b> <%= @message %> </b>  </p>
<br>

  <%= link_to "Play Again", root_path %>
</body>
</html>
