<h1> Contact Informtion </h1>

<h3> For Guided Hunts: email hunts@no_spam.com </h3>

<ul>
  <li> Include goldeneye resort guided hunt in the title </li>
  <li> Include date you are interested in reserving </li>
  <li> Include any options you want </li>
</ul>

<h3> For Summer Resort: email resort@no_spam.com </h3>

<ul>
  <li> Include goldeneye resort  in the title </li>
  <li> Include date you are interested in reserving </li>
</ul>
